#btn-editar, #btn-cancelar-edicao {
    margin-right: 10px;
}

.conteudo {
    width: 90%;
}

a.flow-text{
    margin-left: 15px;
}

.Status_Carregamento_Arquivo {
    margin-right: 15px;
    margin-left: 10px;
}
